body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.play {
    margin-bottom: 200px;;;
}

button {
    border-radius: 6px;;
    width: 200px;
    background-color: rgb(69, 189, 149);
    height: 45px;
}

button:hover {
    background-color: aquamarine;
    transform: scale(1.08);
    cursor: pointer;
}

.board {
    width: 400px;
    height: 400px;
    display: grid;
    /* grid-template: 1 / 1 / 4 / 4; */
    /* border: 1px solid black;; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr)
    
}

.row:first-child {
    border-left: none;
    /* background-color: blue; */
}

.row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    height: 105px;
    width: 10rem;
    border-top: none;
    font-size: 45px;;
}

.row3 > div {

    border: 5px solid black;
    width: 12rem;
    border-bottom: none;
}


.row > div, .row2 > div, .row3 >div {
    border-left: none ;;
    
}

.row > div:last-child {
    border-bottom: none;
}

.row:last-of-type > div {
    border-right: none;
    
} 