body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background: gray;
    overflow: hidden;
    
}

/* .play {
    margin-bottom: 75px;;;
} */

button {
    margin-bottom: 75px;;;
    border-radius: 6%;;
    width: 200px;
    background-color: rgb(69, 189, 149);
    height: 45px;
}

button:hover {
    background-color: aquamarine;
    transform: scale(1.08);
    cursor: pointer;
    font-weight: bolder;
    color: purple
}

.board {
    display: grid;
    /* grid-template: 1 / 1 / 4 / 4; */
    /* border: 1px solid black;; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    
}

.row:hover {
    cursor:pointer;
}

.row:first-child {
    border-left: none;
    /* background-color: blue; */
}

.row > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    height: 105px;
    width: 10rem;
    border-top: none;
    font-size: 45px;;
}

.row3 > div {

    border: 5px solid black;
    width: 12rem;
    border-bottom: none;
}


.row > div, .row2 > div, .row3 >div {
    border-left: none ;;
    
}

.row > div:last-child {
    border-bottom: none;
}

.row:last-of-type > div {
    border-right: none;
    
} 

.congrats {
    font-size: 34px;
    margin-bottom:22px;
    font-weight: bolder;
    color:maroon;
}

.score {
    margin-top: 50px;
    /* padding: 25px;; */
    border: 2px solid black;
    color: black;
    font-size: 32px;;
    background-color: rgb(69, 189, 149);
    border-radius: 6%;

}

.scoreboard {
    /* border-bottom: 1px solid black;; */
    padding: 0 30px;
    background-color: rgb(69, 189, 149);
    border-radius: 12%;

}

.rematch {
    font-size:22px;
    font-weight: bold;
    color:gold;
}
